.project {
    width: 100%;
    /* height: calc(100vh - 100px); */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project h1 {
    margin: 30px;
    color: #3e497a;
    font-size: 35px;
  }
  .project img {
    /* width: 700px;
    height: 700px; */
    max-width: 700px;
    max-height: 700px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .project p {
    font-size: 20px;
    color: #3e497a;
    margin: 20px;
  }
  
  .project svg {
    font-size: 60px;
    color: #3e497a;
    margin-bottom: 15px;
  }